.layout {
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

@media (max-width: 600px) {
    .layout {
        padding: 16px 8px;
    }
}